{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_playergames/nav_header

    Shared secondary-navigation bar rendered on every PlayerGames page.

    Example context (json):
    {
        "str_nav": "PlayerGames navigation",
        "hasitems": true,
        "items": [
            {"key": "hub", "icon": "fa-trophy", "label": "Player Hub", "url": "/local/playergames/hub.php", "active": true},
            {"key": "ecosystem", "icon": "fa-diagram-project", "label": "Ecosystem", "url": "/local/playergames/dashboard.php", "active": false}
        ]
    }
}}
{{#hasitems}}
<nav class="pg-nav mb-4" aria-label="{{str_nav}}">
    <ul class="nav nav-pills pg-nav-list">
        {{#items}}
        <li class="nav-item">
            <a class="nav-link pg-nav-link{{#active}} active{{/active}}"
               href="{{url}}"{{#active}} aria-current="page"{{/active}}>
                <i class="fa {{icon}} me-2" aria-hidden="true"></i>{{label}}
            </a>
        </li>
        {{/items}}
    </ul>
</nav>
{{/hasitems}}
